[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=alacritty
GenericName=Alacritty
Path=/home/gustavo
Exec=/home/gustavo/.cargo/bin/alacritty
Categories=Development
StartupNotify=true
